<footer class="footer py-3 bg-light">
    <div class="container">
        <div class="row text-center text-md-center text-sm-left">
            <div class="col-sm-6 text-center">
                <ul class="footer-list">
                    <li class="footer-item">About us</li>
                    <li class="footer-item">Contact</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="footer-list list-inline">
                    <li class="footer-item list-inline-item"><i class="fab fa-twitter icon-responsive"></i></li>
                    <li class="footer-item list-inline-item"><i class="fab fa-youtube icon-responsive"></i></li>
                    <li class="footer-item list-inline-item"><i class="fab fa-facebook icon-responsive"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
