<form [formGroup]="newRecipeForm" (ngSubmit)="onSubmit(newRecipeForm.value)">
  <div class="form-group row">
    <label for="title" class="col-md-2 col-form-label">Name</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="custom-file">
        <label for="mainPictureUri" class="custom-file-label">Picture</label>
        <input type="file" class="form-control-file custom-file-input" id="mainPictureUri" formControlName="mainPictureUri">
      </div>
    </div>
  </div>

  <hr class="clearfix">

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="numberPeople">How many people</label>
      <input type="number" class="form-control" id="numberPeople" min="1" max="30" value="1" formControlName="numberPeople">
    </div>

    <div class="form-group col-md-4">
      <label for="timeCooking">Time cooking in minutes</label>
      <input type="number" class="form-control" id="timeCooking" min="1" max="7200" value="5" formControlName="timeCooking">
    </div>

    <div class="form-group col-md-4">
      <label for="difficulty">Difficulty of the recipe <i class="fas fa-info-circle"
                                                          title="Time and money expended doing the recipe"></i></label>
      <select class="form-control custom-select" id="difficulty" formControlName="difficulty">
        <option value="0">Very Easy</option>
        <option value="1">Easy</option>
        <option value="2" selected>Normal</option>
        <option value="3">Hard</option>
        <option value="4">Very hard</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="categories" class="col-md-2 col-form-label">Category <i class="fas fa-info-circle"
                                                                        title="Each category separated by comma"></i></label>
    <div class="col-md-10">
      <div id="categorySelector"></div>
      <input type="text" class="form-control" id="categories" formControlName="categories">
    </div>
  </div>

  <hr class="clearfix">

  <div class="form-row">
    <label for="stepsCooking" class="col-form-label">Recipe</label>
    <textarea class="form-control" id="stepsCooking" rows="5" formControlName="stepsCooking"></textarea>
    <div class="form-group row text-right">
      <button type="button" class="btn btn-info" (click)="addRecipeStep()">Add step</button>
      <button type="button" class="btn btn-danger" (click)="deleteRecipeStep()">Delete last step</button>
    </div>
  </div>

  <hr class="clearfix">

  <div class="text-right">
    <button type="submit" class="btn btn-primary" [disabled]="!newRecipeForm.valid">Save recipe</button>
  </div>
</form>
